/* CURRENTLY IN: styles/main.css */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/*  COLORS 
*   #4EC094 
*   #7bb7fa
*   #D1625B
*   #B33D40
*   #507796
*   #1E2E3E
*/

* {
	box-sizing: border-box;
}

.blocks {
	width: 100%;
	height: auto;
}

.blocks__shapes {
	width: 30%;
	height: 605px;
	float: left;
	background-color: #7bb7fa;
	position: relative;	
}

.blocks__canvas {
	width: 70%;
	height: 605px;
	float: left;
	background-color: #D1625B;
}

/*************  Shapes  ****************/

.blocks__shapes-box {
	width: 20%;
	height: 75px;
	background-color: #fff;
	position: absolute;
		top: 3%;
		right: 12%;
}	

.blocks__shapes-rectangle {
	width: 30%;
	height: 50px;
	background-color: purple;
	position: absolute;
		top: 3%;
		left: 10%;
}


.blocks__shapes-triangle--up {
	width: 0;
	height: 0;
	position: absolute;
		top: 15%;
		left: 12%;
	border-bottom: 50px solid #EDC951;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
}

.blocks__shapes-triangle--left {
	width: 0;
	height: 0;
	position: absolute;
		top: 28%;
		left: 15%;
	border-bottom: 60px solid #7F9D39;
	border-right: 60px solid transparent;
}

.blocks__shapes-triangle--right {
	width: 0;
	height: 0;
	position: absolute;
		top: 40%;
		left: 15%;
	border-bottom: 60px solid #676690;
	border-left: 60px solid transparent;
}

.blocks__shapes-para--left {
	width: 20%;
	height: 40px;
	position: absolute;
		top: 55%;
		left: 15%;
	background-color: #D48317;
	transform: skew(25deg);
}

.blocks__shapes-para--right {
	width: 20%;
	height: 40px;
	position: absolute;
		top: 22%;
		right: 15%;
	background-color: #452159;
	transform: skew(-25deg);
}

.blocks__shapes-circle {
	width: 20%;		
	height: 70px;
	position: absolute;
		top: 34%;
		right: 15%;
	border-radius: 50%;
	background-color: #00A0B0;
}

.blocks__shapes-cirle--half {
	width: 30%;
	height: 55px;
	position: absolute;
		top: 52%;
		right: 12%;
	border-radius: 80px 80px 0 0;
	background-color: #3B45A6;
}

.blocks__shapes-quart--left {
	width: 20%;
	height: 55px;
	position: absolute;
		bottom: 20%;
		left: 12%;
	border-radius: 80px 0 0 0;
	background-color: #FB5A69;
}

.blocks__shapes-quart--right {
	width: 20%;
	height: 70px;
	position: absolute;
		bottom: 22%;
		right: 15%;
	border-radius: 0 80px 0 0;
	background-color: #5CD465;
}

.blocks__canvas-title {
	font-size: 3rem;
	color: white;
	text-align: center;
	margin: 12% auto;
}





